
.vs/hibProcess/v15/.suo
.vs/hibProcess/v15/sqlite3/storage.ide
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
obj/x64/Debug/hibProcess.csproj.CoreCompileInputs.cache
obj/x64/Release/hibProcess.csproj.CoreCompileInputs.cache
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/hibProcess.csproj.CoreCompileInputs.cache
obj/x86/Release/hibProcess.csproj.CoreCompileInputs.cache
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/hibProcess.csproj.CoreCompileInputs.cache
